{% extends 'VtesWebsiteBundle:Layouts:base.html.twig' %}

{% block body -%}
    <h1>{{ 'admin.user-creation' | trans }}</h1>

    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('user') }}">
                {{ 'admin.back-to-list' | trans }}
            </a>
        </li>
    </ul>

    <script>
        document.addEventListener("DOMContentLoaded", getRoommateOption);

        function getRoommateOption() {
            var room = document.getElementById('vtes_bundle_websitebundle_user_room').value;
            var roommateDiv = document.getElementById('vtes_bundle_websitebundle_user_roommate').parentNode;

            if (room == 2) {
                roommateDiv.style.display = 'block';
            } else {
                roommateDiv.style.display = 'none';
            }
        }
    </script>
{% endblock %}
