html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-color: black;
}
a {
  text-decoration: none;
  transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
  -moz-transition: color 0.5s ease-in-out;
  -webkit-transition: color 0.5s ease-in-out;
  color: black;
}
a:hover,
a:focus {
  color: darkred;
}
a.active {
  color: red;
}
a.lang {
  font-size: 0.7rem;
  color: #aaaaaa;
}
a.lang.active {
  color: black;
}
a.lang:hover,
a.lang:focus {
  color: darkred;
}
#content-wrapper {
  width: 80%;
  height: 80%;
  margin: 0 auto;
}
#content {
  min-height: 500px;
}
#navbar {
  width: 100%;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #aaaaaa;
  margin-bottom: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}
#navbar ul {
  list-style: none outside none;
  display: inline-block;
}
#navbar ul li {
  display: inline;
  margin: 0;
  padding: 0 0.5rem;
  border-right: 1px solid #aaaaaa;
}
#navbar ul li:last-child {
  border-right: none;
}
#navbar ul.lang-select li {
  font-size: 0.7rem;
}
footer {
  text-align: center;
  font-size: 0.8rem;
  margin-top: 1rem;
  border-top: 1px solid #aaa;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
