{% extends 'VtesWebsiteBundle:Layouts:base.html.twig' %}

{% block title %}VTES EC 2015{% endblock %}
{% block body %}
<div id="content-wrapper">
    {{ include ('VtesWebsiteBundle:Partials:navbar.html.twig') }}
    <section id="content">
        This is the content.
    </section>
    {{ include ('VtesWebsiteBundle:Partials:footer.html.twig') }}
</div>
{% endblock %}
