{% extends 'Layouts/base.html.twig' %}

{% block body %}
<div id="content-wrapper">
    {{ include('Partials/_navbar.html.twig') }}
    {{ include('Partials/_content.html.twig') }}
    {{ include('Partials/_footer.html.twig') }}
</div>
{% endblock %}
