{% extends 'VtesWebsiteBundle:Layouts:base.html.twig' %}

{% block title %}VTES EC 2015{% endblock %}
{% block body %}
    <section id="content">
        {{ app.request.attributes.get('_route') }}
    </section>
{% endblock %}
